doctype html
html(lang=es)
    head
        link(href='/css/bootstrap.min.css' rel='stylesheet')
        link(href='/css/snapcar-custom.css' rel='stylesheet')
    body
        nav.navbar.navbar-snapcar
            div.container
                div.navbar-header
                    a.navbar-brand(href='#')
                        img(src='/img/snapcar-logo-arti.svg' width='200' title='SnapCar Seguros')
        div.container
            div.row
                div.col-md-12
                    h1 Usted ha confirmado la invitación
                    h3 Su número de ID es 
                        b #{idInvitacion}

        script(src='/js/jquery-3.1.1.min.js')
        script(src='/js/bootstrap.min.js')