doctype html
html(lang=es)
    head
        link(href='//fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
        link(href='/css/materialize.min.css' rel='stylesheet')
        link(href='/css/snapcar-custom.min.css' rel='stylesheet')
    body
        .navbar-fixed
            nav
                .nav-wrapper
                    a.navbar-brand(href='#')
                        img(src='/img/snapcar-logo-arti.svg' width='180' title='SnapCar Seguros')
        .container
            .row
                .col.s1
                    h2 Usted ha confirmado la invitación
                        p El ID de invitación es
                            b #{idInvitacion}

        script(src='/js/jquery-3.1.1.min.js')
        script(src='/js/materialize.min.js')