- var fechaHoy = new Date().getFullYear();
- var estado = estadoInvitacion;

doctype html
html(lang=es)
    head
        link(href='//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i' rel='stylesheet')
        link(href='//fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
        link(href='/css/materialize.min.css' rel='stylesheet')
        link(href='/css/snapcar-custom.min.css' rel='stylesheet')
    body
        header
            .navbar-fixed
                nav.z-depth-0(role='navigation')
                    .nav-wrapper.container
                        a.brand-logo(href='#')
                            img(src='/img/snapcar-logo-arti.svg' width='180' title='SnapCar Seguros')
        main
            .container
                .row
                    .col.s12
                        .section
                            h4
                                if estado
                                    i.material-icons done
                                    estado
                                    // | Usted ha confirmado la invitaci칩n.
                                else
                                    i.material-icons error_outline
                                    // | La invitaci칩n no es v치lida. Vuelva a solicitar una.
                                    estado
                            p El ID de invitaci칩n es 
                                b #{idInvitacion}.

        footer.page-footer
            .footer-copyright
                .container SnapCar &reg; #{fechaHoy} | Todos los derechos reservados

        script(src='/js/jquery-3.1.1.min.js')
        script(src='/js/materialize.min.js')