doctype html
html(lang=es)
    head
        link(href='/css/bootstrap.min.css' rel='stylesheet')
    body
        nav.navbar.navbar-default
            div.container
                div.navbar-header
                    a.navbar-brand(href='img/snapcar-logo-arti.svg' width='300')
                        img(src='' title='SnapCar Seguros')
        div.container
            div.row
                div.col-md-12
                    h1 Usted ha confirmado la invitación
                    h3 Su número de ID es 
                        b #{idInvitacion}

        script(src='/js/bootstrap.min.js')

        // Color Principal #006BFF