include emailHeader.pug

    table#content(border='0' cellpadding='10' cellspacing='0' width='100%')
        tr
            td(align='center' valign='top' bgcolor='#ffffff')
                h1 Recuperar Contraseña
                p Tu nueva contraseña es:
    table#call-to-action(border='0' cellpadding='0' cellspacing='0' width='100%')
            td(align='center' valign='top' bgcolor='#ffffff')
                div(style={
                    'background-color': '#efefef',
                    'min-height': '40px',
                    'height': 'auto',
                    'max-width': '60%',
                    'width': 'auto',
                    'line-height': '40px',
                    'text-align': 'center',
                    'margin': '0 20px'
                    })
                        p(
                            style={
                                'color': '#000000',
                                'font-size': '1.5em',
                                'font-weight': 'bold',
                                'text-decoration': 'none',
                                'padding': '20px',
                                }
                        ) #{nuevoPassword}

    include emailFooter.pug