@color-base: #006BFF;

.main-font {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

html {
    .main-font;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    background-color: @color-base;
}

nav.brand-logo {
    padding: 5px;
}

footer.page-footer {
    background-color: #001533;
    font-size: 0.8em;
    padding-top: 0;
}