@color-base: #006BFF;

.main-font {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

html {
    .main-font;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    background-color: @color-base;
}

nav .brand-logo {
    line-height: 100px;
}

footer.page-footer {
    background-color: #29303a;
    font-size: 0.8em;
    padding-top: 0;
}

/*
@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 80px;
        line-height: 80px;
    }
}
*/