@color-base: #006BFF;

.main-font {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

html {
    .main-font;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav {
    background-color: @color-base;
}

footer {
    background-color: #001533;
}