doctype html
html(lang=es)
    head
    body
        h1 Invitación SnapCar
        p Usted ha sido invitado como conductor adicional por #{nombreUsuario}
        p
            b Email Usuario #{emailUsuario}
        p
            b Email Invitado #{emailInvitado}
        a(href='https://api.appcar.com.ar/confirma?id=' + idInvitacion) Aceptar Invitación