doctype html
html(lang=es)
    head
        title= Invitación SnapCar
    body
        h1 Invitación SnapCar
        p Usted ha sido invitado como conductor adicional por
        p
            b Email Usuario
        p
            b Email Invitado
        a(href='https://api.appcar.com.ar/confirma?id=') Aceptar Invitación
        = '\n'